@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Support:</strong> <a href="mailto:shamalets@gmail.com">shamalets@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:vitali,savluk@gmail.com">vitali.savluk@gmail.com</a>
</address>
