@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1>Welcome to site "Foodstuffs"</h1>
    <h2>This application is deployed in Azure Cloud</h2>
    <h2> Project repository: <a href="https://github.com/vitalidn/DP157.Team1.Demo3.git">GitHub.com</a>.</h2>
    <h4>_______________________________________________________________</h4>
    <h2>For go to page Foodstuffs click on here <a href="~/Foodstuffs">this</a>.</h2>



</div>
